* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  min-height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5))), url("../eduford_img/banner.png");
  background-image: linear-gradient(rgba(4, 9, 30, 0.5)), url("../eduford_img/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.header .text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.header .text-box h1 {
  font-size: 62px;
  font-weight: 700;
}

@media (max-width: 700px) {
  .header .text-box h1 {
    font-size: 40px;
  }
}

.header .text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
}

.header .text-box .hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .text-box .hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 6%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header nav img {
  width: 150px;
}

.header nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .header nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}

.header nav .nav-links {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

@media (max-width: 700px) {
  .header nav .nav-links {
    background: #f44336;
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 1;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
}

@media (max-width: 700px) {
  .header nav .nav-links ul {
    padding: 30px;
  }
}

.header nav .nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

@media (max-width: 700px) {
  .header nav .nav-links ul li {
    display: block;
  }
}

.header nav .nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header nav .nav-links ul li:hover::after {
  width: 100%;
}

.header nav .nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.course h2 {
  font-size: 36px;
  font-weight: 600;
}

.course p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.course .row {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .course .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.course .row .course-col {
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  background-color: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.course .row .course-col:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.course .row .course-col h3 {
  margin-top: 1%;
  font-weight: 600;
}

.course .row .course-col p {
  margin-bottom: 3%;
}

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus .row {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .campus .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.campus .row .campus-column {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus .row .campus-column .layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.campus .row .campus-column .layer h4 {
  font-weight: 600;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

.campus .row .campus-column .layer:hover h4 {
  opacity: 1;
  bottom: 49%;
}

.campus .row .campus-column .layer:hover {
  background: grey;
  opacity: 0.7;
}

.campus .row .campus-column img {
  width: 100%;
  display: block;
}

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.facilities .facilities-col {
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 1%;
  text-align: left;
}

.facilities .facilities-col img {
  margin-top: 25px;
  width: 100%;
  border-radius: 10px;
}

.facilities .facilities-col p {
  padding: 0;
  margin-top: 10px;
  text-align: center;
}

.facilities .facilities-col h3 {
  margin-top: 15px;
  text-align: center;
}

.testimonials {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 50px;
  text-align: center;
}

.testimonials .space {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.testimonials .space .testimonial-col {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  border-radius: 10px;
  text-align: left;
  background-color: #fff3f3;
  padding: 25px;
  cursor: pointer;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials .space .testimonial-col h3 {
  font-size: 12px;
}

.testimonials .space .testimonial-col h3:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.testimonials .space .testimonial-col img {
  height: 50px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonials .space .testimonial-col p {
  margin-bottom: 9px;
}

.testimonials .space .testimonial-col i {
  color: #d1ae6b;
}

.footer {
  text-align: center;
  font-size: 12px;
  padding: 0 20px;
}

.footer h4 {
  font-size: 18px;
}

.footer p {
  font-size: 10px;
}

.footer i {
  font-size: 24px;
  margin: 8px;
  cursor: pointer;
}

.footer .copywright {
  cursor: pointer;
  font-size: 10px;
}

.footer .copywright i {
  font-size: 10px;
  color: red;
}

.row {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */

.form {
  max-width: 80vw;
  text-align: left;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 80px;

}


.form h2 {
  text-align: center;
  margin-bottom: 50px;
}

.form button {
  width: 100px;
}